.ekart--top-header{
    height: 5vh;
    background-color: #28282B;
    text-align: center;
    color: white;
    padding-top: 1.5vh; /*vh is viewport height*/
    font-size: 12px; /*px is Pixels*/
    font-weight: bold;
}
